* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

@viewport {
	width: device-width !important;
	zoom:1;
 }

p {
	font-size: 1.2em;
	line-height: 1.8em;
}

body {
	color: #2d3e50;
	font-family: Lato;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}

body.background {
	background: url(../img/background/bg.png) repeat scroll 0 0;
}

.container {
	width: 1200px;
}

#intro{
	color: #fff;
}

#kontakt {
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	font-family: Raleway, sans-serif;
}

a {
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	text-decoration: none;
}

a:focus, button:focus {
	outline: 0 solid;
}

a:hover {
	color: #0078B5;
	text-decoration: none;
}

a:active, a:focus, a:hover {
	outline: 0 none;
	text-decoration: none;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

section#map {
	height: 580px;
	margin: 95px 0;
	border: 15px solid #eee;
	border-left: none;
	border-right: 0;
}

section#timetable {
	margin-top: 8rem;
}

#mission-badges {
	margin-bottom: 65px;
}

.mission-badge {
	border-radius: 50%;
	box-shadow: 0 2px 10px -1px rgba(109, 109, 109, .46);
	margin: 15px 10px;
	border-radius: 50%;
	border: 5px solid #fff;
	width: 80px;
	height: 80px;
	transition: all .3s ease;
}

.mission-badge.active, .mission-badge:hover {
	border-color: #0078B5 !important;
}

ul.mission-names li {
	margin-right: 10px;
	background: #f9f9f9;
	padding: 7px 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.2em;
	transition: all .3s ease;
	color: #737373;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul.mission-names li.on, ul.mission-names li:hover {
	background-color: #0078B5;
	color: #fff;
}

ul.mission-names {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.table td {
	padding: 20px 15px !important;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.timetable th {
	text-align: center;
}

.signup-box {
	justify-content: center;
	background: #fff;
	width: 500px;
	align-items: center;
	border: 1px solid rgba(232, 110, 45, .25);
	margin: 0 auto;
	font-size: 1.2em;
	text-align: center;
	padding: 55px 10px;
	letter-spacing: 2px;
	color: #fff;
}

#signup {
	margin-top: 60px;
	padding: 60px 0;
	background: url(../../images/footer.jpg);
	position: relative;
}

.signup-box .mdlogo {
	display: block;
	width: 200px;
	margin: 20px auto 40px auto;
}

header .mdlogo {
	width: 120px;
	margin-top: -35px;
}

header .menu-btn {
	float: right;
	font-size: 11px;
	line-height: 27px;
	margin-top: 8px;
	padding: 0 16px;
}

.mdlogo {
	width: 250px;
	margin: 20px auto 100px auto;
	display: block;
}


.btn2 {
	font-size: 1.2em;
	padding: 11px 20px;
	border: 2px solid #000000;
	color: #000000;
}

.btn2:hover {
	font-size: 1.2em;
	padding: 11px 20px;
	border: 2px solid #fff;
	color: #000000;
	background-color: #fff;
}


footer {
	padding: 10px 20px;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	background: #191919;
	color: #797979;
}

footer a {
	color: #797979;
}

.floatright {
	float: right !important;
}

.no-margin {
	margin: 0;
}

.button-white {
	background: #fff !important;
}

.button-blue {
	background: #0078B5 !important;
	color: #fff !important;
}

.button-md {
	background: #0078B5 !important;
	color: #fff !important;
}

.text-white {
	color: #fff !important;
}

.section-title {
	margin-bottom: 55px;
	z-index: 999;
	position: relative;
}

.section-title h1 {
	font-size: 36px;
	font-weight: 800;
	line-height: 33px;
	text-transform: uppercase;
	z-index: 99;
	position: relative;
}

.section-title.no-mb {
	margin-bottom: 5px;
}

.section-title hr {
	width: 280px;
	margin: 15px auto 10px auto;
	display: block;
	border: 2px solid #eee;
}

.section-title h1 span {
	color: #0078B5;
}

.about-blue .about-text h2 span, .section-title.title-blue h1 span {
	color: #0078B5;
}

.section-title img {
	margin-bottom: 24px;
}

.section-title p {
	margin-bottom: 0;
}

.about-text h2 span, .logo a {
	display: inline-block;
}

#main-menu {
	left: 0;
	position: absolute;
	right: 0;
	top: 95px;
	z-index: 999999;
}

.main-menu {
	display: inline-block;
	margin: 8px 0;
}

.main-menu nav ul li {
	display: inline-block;
}

.main-menu nav ul li a {
	color: #fff;
	display: block;
	font-family: Raleway, sans-serif;
	font-size: 12px;
	font-weight: 800;
	line-height: 26px;
	margin-right: 34px;
	padding: 0 1px;
	position: relative;
	text-transform: uppercase;
}

.main-menu nav ul li a:before {
	background: #0078B5 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	right: 50%;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	z-index: -1;
}

.main-menu nav ul li a:hover:before, .main-menu nav ul li.active a:before {
	left: 0;
	right: 0;
}

.main-menu nav ul li:last-child a {
	margin-right: 0;
}

.main-menu nav ul li a:hover, .main-menu nav ul li.active a {
	color: #fff;
}

.button-default {
	background: #fff none repeat scroll 0 0;
	border: 0 none;
	color: #2d3e50;
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 53px;
	padding: 0 31px;
	text-transform: uppercase;
	border-radius: 2px;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.button-default:hover {
	background-color: #fff !important;
	color: #2d3e50 !important;
}

.banner-buttons .button-default {
	margin-right: 26px;
}

.banner-buttons a.button-default:hover {
	background-color: #0078B5 !important;
	color: #fff !important;
}

.about-area {
	padding-top: 114px;
}

.about-area .col-sm-5 {
	padding-left: 0;
}

.about-image {
	margin-right: 45px;
}

.about-text h2 {
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 19px;
}

.about-text {
	margin-right: 54px;
	margin-top: 0;
}

.about-text>p {
	margin-bottom: 25px;
}

.about-buttons {
	margin-top: 48px;
}

.about-buttons button.button-default {
	margin-right: 26px;
}

.about-buttons button.button-default {
	border: 1px solid #0078B5;
	line-height: 51px;
}

.about-buttons a.button-default:hover {
	background-color: #0078B5 !important;
	color: #fff !important;
}

.banner-area {
	background-color: #2d3e50;
	background-position: center bottom !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	height: 890px;
	position: relative;
	z-index: 1;
}

.banner-skyline {
	background: url(../../images/head_1.jpg) center bottom no-repeat;
	background-size: cover;
}

.banner-text {
	display: table;
}

.banner-area .banner-table-cell, .banner-area .banner-text, .banner-area .col-lg-7, .banner-area .container, .banner-area .row {
	height: 100%;
}

.banner-area .col-lg-7 {
	padding-right: 0;
}

.banner-product-image {
	margin-top: 33%;
	overflow: hidden;
	position: relative;
	z-index: 9;
}

.banner-table-cell {
	display: table-cell;
	vertical-align: middle;
	z-index: 9;
	position: relative;
}

.banner-text h1 {
	color: #fff;
	font-size: 67px;
	font-weight: 800;
	line-height: 72px;
	margin-bottom: 23px;
	text-transform: uppercase;
}

.banner-text h1 span {
	color: #0078B5;
}

.banner-text p {
	color: #fff;
	margin-bottom: 33px;
}

.banner-area:before {
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	content: "";
	height: 463px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	right: 0;
}

.banner-area:before {
	bottom: 0;
	right: 0;
	top: auto;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.banner-image .banner-text {
	padding-top: 22.3%;
}

.banner-area.banner-horizontal::before {
	/*background-color: #fff;
	height: 142px;*/
}

.banner-skyline:after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(60, 59, 57, 0.80);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.banner-skyline:hover:after {
	background: rgba(53, 34, 24, .4);
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

::-webkit-input-placeholder {
	opacity: 1 !important;
}

:-moz-placeholder {
	opacity: 1 !important;
}

::-moz-placeholder {
	opacity: 1 !important;
}

:-ms-input-placeholder {
	opacity: 1 !important;
}

.visible-xs {
	display:none;
}

@-ms-viewport{
	width: device-width;
  }


  #infoMenu{
	background: #191919;
	color: #797979;
	height: 50px;
	position:fixed;
	z-index:1000;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 50px;
}
#infoMenu li a{
	display: block;
	/* margin: 0 22px 0 0; */
	color: #797979;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}